html,body{
	height: 100%;
	overflow: auto;
	background: url(../img/background.jpg) no-repeat;
	background-size: 100% 100%;
}
#sybMessageService{
	height: 183px;
	width: 43px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 30px;
	background: rgba(255,255,255,0.5);
}
#sybMessageService>li{cursor: pointer;}
#sybMessageService .serviceGirl{position: relative;height: 8px;}
#sybMessageService>.serviceGirl>img{
	position: absolute;
	top: -44px;
    left: -16px;

}
#sybMessageService .serviceGirlName{
	margin-top: 10px;
}
#sybMessageService .serviceGirlName>p{
	color: #e3323a;
	font-size: 12px;
	text-align: center;
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #fff;
}
#sybMessageService .QQ{
	text-align: center;
	position: relative;
	padding: 0;
	padding: 6px 0;
}
#sybMessageService .QQ .QQ_title{
	width: 100%;
	height: 45px;
	background:#e3323a ;
	padding: 0;
	margin: 0;
	opacity: 0;
	top: 0px;
	position: absolute;
	color: #fff;
	font-size: 14px;
	transition: all 1s;
}
#sybMessageService .QQ:hover .QQ_title{
	opacity:1 ;
}
#sybMessageService .QQ .QQ_txt{
	width: 0;
	height: 138px;
	position: absolute;
	top: 0;
	left: 0px;
	background: rgba(255,255,255,0.6);
	opacity: 0;

	box-sizing: border-box;
	transition: all 0.2s;
	padding: 0;
}
#sybMessageService .QQ .QQ_txt .triangle{
	width: 0;
	height: 0;
	display: block;
	border: 10px solid transparent;
	border-right-color: #E3323A;
	position: absolute;
	right: 0;
	top:12px;
}
#sybMessageService .QQ:hover .QQ_txt{
	opacity:1 ;
	width: 108px;
	left: -108px;
	padding: 16px 10px;
	z-index: 999;
	
}

#sybMessageService .QQ:hover .QQ_txt>div{
	display: block;
}
#sybMessageService .QQ .QQ_txt>div{
	display: none;
}
#sybMessageService .QQ .QQ_txt .QQ_txtP{
	font-size: 12px;
	line-height: 18px;
}
#sybMessageService .QQ .QQ_txt .QQ_txtB{
	margin: 10px 0;
}
#sybMessageService .QQ .QQ_txt .QQ_txtB>button{
	border: none;
	outline: inherit;
	background: #fe0000;
	color: #fff;
	border-radius: 2000px;
	cursor: pointer;
	padding:3px  10px;
}

#sybMessageService .vip{
	text-align: center;
	position: relative;
	padding: 0;
	padding: 6px 0;
	border-top: 1px solid #fff;
}
#sybMessageService .vip .vip_title{
	width: 100%;
	height: 45px;
	background:#e3323a ;
	padding: 0;
	margin: 0;
	opacity: 0;
	top: 0px;
	position: absolute;
	color: #fff;
	font-size: 14px;
	transition: all 1s;
}
#sybMessageService .vip:hover .vip_title{
	opacity: 1;
}
#sybMessageService .vip .vip_txt{
	position: absolute;
	width: 0px;
	height: 138px;
	position: absolute;
	top: -48px;
	left: 0px;
	background: rgba(255,255,255,0.6);
	opacity: 0;
	box-sizing: border-box;
	transition: all 0.2s;
	padding: 0;
	font-size: 12px;
}
#sybMessageService .vip .vip_txt .triangle{
	width: 0;
	height: 0;
	display: block;
	border: 10px solid transparent;
	border-right-color: #E3323A;
	position: absolute;
	right: 0;
	top:60px;
}
.vip_txtH1,.QQ_txtH1,.tel.txtH1{margin-bottom: 10px;}
#sybMessageService .vip .vip_txtP>p{
	font-size: 12px;
}
#sybMessageService .vip:hover .vip_txt{
	opacity:1 ;
	width: 108px;
	left: -108px;
	padding: 16px 10px;
	z-index: 999;
}
#sybMessageService .vip .vip_txt>div{display: none;}
#sybMessageService .vip:hover .vip_txt>div{
	display: block;
}
#sybMessageService .tel{
	text-align: center;
	position: relative;
	padding: 0;
	padding: 6px 0;
	border-top: 1px solid #fff;
}
#sybMessageService .tel .tel_title{
	width: 100%;
	height: 48px;
	background:#e3323a ;
	padding: 0;
	margin: 0;
	opacity: 0;
	top: 0px;
	position: absolute;
	color: #fff;
	font-size: 14px;
	transition: all 1s;
}
#sybMessageService .tel:hover .tel_title{
	opacity: 1;
}
#sybMessageService .tel .vip_txt{
	position: absolute;
	width: 108px;
	height: 138px;
	position: absolute;
	top: -96px;
	left: -108px;
	background: rgba(255,255,255,0.6);
	opacity: 0;
	box-sizing: border-box;
	transition: all 0.2s;
	padding: 0;
	font-size: 12px;

}
#sybMessageService .tel:hover .vip_txt{
	width: 108px;
	left: -108px;
	opacity: 1;
	padding: 16px 5px;
	z-index: 999;
	
}
#sybMessageService .tel:hover .vip_txt>div{
	display: block;
}
#sybMessageService .tel .vip_txt>div{
	margin-bottom: 5px;
	display: none;
}
#sybMessageService .tel .vip_txt .vip_txtB>input{
	width: 90%;
	border: none;
	background: #c4c7cf;
	border-radius: 5px;
	padding: 5px ;
	outline: inherit;
}
#sybMessageService .tel .vip_txt .vip_txtB>button{
	border: none;
	outline: inherit;
	background: #fe0000;
	color: #fff;
	border-radius: 2000px;
	cursor: pointer;
	padding:3px  10px;

}
#sybMessageService .tel .vip_txt .triangle{
	width: 0;
	height: 0;
	display: block;
	border: 10px solid transparent;
	border-right-color: #E3323A;
	position: absolute;
	right: 0;
	top:105px;
}